{% extends 'index.html' %}
{% load static %}


{% block content %}
	<div class='jumbotron'

	>
		<form method="POST" id='register' class='shadow container '
		style='
			border: 2px  solid red;
			padding: 20px;
			outline-offset: 2px;
			outline: 1px solid red;
		'
		>
			{% csrf_token %}
			<h3 class='mb-5 '
				style="
					text-align: center;
					font-size: 40px;
					text-transform: uppercase;
					text-shadow: 1px 4px 3px silver;
					font-weight: bolder;
				" 	
			>Please Enter Yout Email</h3>

			<label class='mb-2 font-weight-bolder '
			style='font-size:20px;'
			> Email</label>
			<input type="email" name="email" class='form-control'>
			<div
			style='
				margin-top: 20px;
			'
			>
				
			</div>
			<input type="submit" name="Register" value='Verify' class='px-3 mt-3 btn btn-primary'>
		</form>
	</div>
{% endblock %}