{% extends 'index.html' %}
{% load static %}

{% block content %}
	<div class='jumbotron'>
		<div class=''>
			<div class='mb-3 pb-4'
				style='
					background: black;
					margin-top: 0px;
					position: relative;
					bottom: 50px;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-wrap: wrap;
				'

			>
			<img src="{% static 'images/intern.jpeg' %}"
				style='height:200px;
					margin-top: 0px;
					margin: 5px;
				'
				class='img-thumbnail'
			>
			<span>
				<h1 style='display: inline;color:white;text-shadow: 1px 1px 10px gold;
					font-size: 45px;font-weight: bolder;
				'>
					LOGIN PORTAL FOR INTERNS
				</h1>
			</span>
		</div>

		<div >
			<form id='login' method="POST" class='container jumbotron py-3'
					style='border: 2px solid red;
					outline: 1px solid  red;
					outline-offset: 2px;
					padding: 40px;
					margin: 20px auto 20px auto 	;
					'

		>
			{% csrf_token %}
			<div class='row  justify-content-around  bg-transparent'>
				<div class='col-6  shadow p-4'>
					<label class='mt-3 py-4 ' >Email</label>
					<input type="email" name="email" class='form-control'>
					<div style='padding-bottom: 20px;'></div>
					<label class='mt-4 py-3' >Password</label>
					<input type="password" name="password" class='form-control'>
					<div style='padding-bottom: 20px;'></div>
					<div class='mt-3' ></div>
					<a href="{% url 'certificate_app:forgot_password' %}"
						class='lead'
					>Forgot Password</a>
					<div style='padding-bottom: 20px;'></div>						
					<input type="submit" name="" value='Sign In' class='mt-4 btn btn-primary'>
					<a href="{% url 'certificate_app:register' %}" class='btn btn-warning mt-3 ' title="If you don't have account" >Register</a>
				</div>
			</div>
		</form>	
		</div>
	</div>
{% endblock %}